h1= title
h2 Добро пожаловать =)
p Результат 
	a(href="/xml/SELECT * from svod_code where type=\'d\' order by code LIMIT 10;") XML
p Результат 
	a(href="/json/SELECT * from svod_code where type=\'d\' order by code LIMIT 10;") JSON
form(action="http://127.0.0.1:9000/binlog" method="post")
	input(type="text" name="pCode" value="123")
	input(type="text" name="pStart" value="123")
	input(type="text" name="pStop" value="123")
	input(type="submit")
p Совершить 
	a#kill(href="/suicide" onclick="alert('Пока =(');") самоубийство